*
{
    padding: 0;
    margin: 0;
}
body{
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto;
grid-template-areas: "header" 
                     "nav"
                     "main"
                     "footer";
background: rgb(0, 183, 255) ;
background-image: url("./images/Screenshot\ \(25\).png");
}
nav{
    display: flex;
    justify-content: space-between;
    grid-area: nav;
    background-color: lightblue;
    color: rgb(255, 0, 0);
    line-height: 10vh;
    font-family: 'Josefin Sans', sans-serif;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70vw;
}
form {
    display: grid;
    width: 200px;
    height: 100px;
    grid-template-columns: 200%;
    align-items: center;
    grid-gap: 1.5em;
    padding: 10px;
    }


    input[type=text]
    {
        display: inline-block;
        padding: 10px;
    }
 .submit {
    grid-column: 2;
    }